.card-container{
    width: 337px;
    height: 140px;
    margin: 12px 10px;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
            filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
    background: $white-color;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .fondo{
        width: 222px;
        position: absolute;
        height: 100%;
        background-color: $white-color;
        right: 0;
        top: 0;
        border-radius: 0px 8px 8px 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow-y: hidden;
        h2{
            font-family: $fontKarla;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $black-color;
            text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
            margin-top: 8px;
            width: 90%;
            text-align: center;
            overflow: hidden;
            max-height: 21px;
        }
        .stats{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .circle{
                margin: 6px 7px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                font-family: $fontKarla;
                div{
                    border: 3px solid $black-color;
                    border-radius: 100%;
                    padding: 8px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    color: $black-color;
                }
                p{
                    font-family: $fontKarla;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 14px;
                    color: #4B4B4B;
                    margin-top: 6px;
                }
            }
        }
        .types{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 6px;
            div{
                margin: 0px 8px;
                padding: 5px 12px;
                -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
                        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
                border-radius: 11px;
                font-family: $fontRoboto;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 18px;
                line-height: 14px;
                color: $black-color;
            }
        }
    }
    img{
        width: 110px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        z-index: 9;
    }


    &.tablet{
        width: 350px;
        cursor: pointer;
        h2{
            font-size: 20px;
        }
        img{
            width: 130px;
        }
    }


    &.desktop{
        width: 410px;
        height: 160px;
        margin: 15px 20px;
        .fondo{
            width: 240px;
            h2{
                font-size: 22px;
                max-height: -webkit-fit-content;
                max-height: -moz-fit-content;
                max-height: fit-content;
            }
            .stats{
                .circle{
                    div{
                        font-size: 20px;
                    }
                    p{
                        font-size: 22px;
                    }
                }
            }
            .types{
                margin-top: 10px;
                div{
                    font-size: 22px;
                    padding: 8px 12px;
                }
            }
        }
        img{
            width: 160px;
        }
    }
}