.cards-container{
    margin: 28px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    &.tablet{
        margin: 35px 40px 30px 40px;
    }

    &.desktop{
        margin: 35px 40px 30px 40px;
    }
    &.maxContent{
        margin: 35px auto;
        max-width: 1800px;
    }
}