.cardPokeView-container{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    &.close{
        height: 0px;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    &.open{
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
        height: 105vh;
    }
    .fondo{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        position: fixed;
        top: 40%;
        left: 0;
        z-index: -1;
        &.close{
            height: 0px;
            -webkit-transition-delay: 1s;
                 -o-transition-delay: 1s;
                    transition-delay: 1s;
        }
        &.open{
            -webkit-transition-delay: 1s;
                 -o-transition-delay: 1s;
                    transition-delay: 1s;
            height: 65vh;
        }
    }
    .closeIcon{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px;
        margin-top: 10px;
    }
    h1{
        font-family: $fontKarla;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #FDFDFD;
        text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        text-align: center;
        margin: 45px 18px 0px 18px;
    }
    .pokeFoto{
        width: 240px;
    }


    &.tablet{
        padding-top: 15px;
        h1{
            font-size: 50px;
            margin-top: 0px;
        }
        .closeIcon{
            margin-left: 20px;
            margin-top: 20px;
            width: 50px;
            cursor: pointer;
        }
        .pokeFoto{
            width: 280px;
        }
    }

    &.desktop{
        padding-top: 30px;
        h1{
            font-size: 70px;
        }
        .closeIcon{
            width: 60px;
        }
        .pokeFoto{
            width: 320px;
        }
    }
}