.cards-container{
    margin: 28px 10px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    

    &.tablet{
        margin: 35px 40px 30px 40px;
    }

    &.desktop{
        margin: 35px 40px 30px 40px;
    }
    &.maxContent{
        margin: 35px auto;
        max-width: 1800px;
    }
}