.card-container{
    width: 337px;
    height: 140px;
    margin: 0px 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
    background: $white-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    .fondo{
        width: 222px;
        position: absolute;
        height: 100%;
        background-color: $white-color;
        right: 0;
        top: 0;
        border-radius: 0px 8px 8px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        h2{
            font-family: $fontKarla;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $black-color;
            text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
            margin-top: 8px;
            width: 90%;
            text-align: center;
        }
        .stats{
            display: flex;
            .circle{
                margin: 6px 7px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $fontKarla;
                div{
                    border: 3px solid $black-color;
                    border-radius: 100%;
                    padding: 8px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    color: $black-color;
                }
                p{
                    font-family: $fontKarla;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 14px;
                    color: #4B4B4B;
                    margin-top: 6px;
                }
            }
        }
        .types{
            display: flex;
            margin-top: 6px;
            div{
                margin: 0px 8px;
                padding: 5px 12px;
                box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
                border-radius: 11px;
                font-family: $fontRoboto;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 18px;
                line-height: 14px;
                color: $black-color;
            }
        }
    }
    img{
        width: 110px;
        height: fit-content;
        z-index: 9;
    }


    &.tablet{
        width: 350px;
        cursor: pointer;
        h2{
            font-size: 20px;
        }
        img{
            width: 130px;
        }
    }
}