.cardPokeView-container{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    &.close{
        height: 0px;
        transition: 2s;
    }
    &.open{
        transition: 2s;
        height: 105vh;
    }
    .fondo{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        position: fixed;
        top: 40%;
        left: 0;
        z-index: -1;
        &.close{
            height: 0px;
            transition-delay: 1s;
        }
        &.open{
            transition-delay: 1s;
            height: 65vh;
        }
    }
    .closeIcon{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px;
        margin-top: 10px;
    }
    h1{
        font-family: 'Karla';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #FDFDFD;
        text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        text-align: center;
        margin: 45px 18px 0px 18px;
    }
    .pokeFoto{
        width: 240px;
    }
}