.card-container{
    width: 337px;
    height: 140px;
    margin: 0px 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
    background: #F6F7F9;
    border-radius: 8px;
    .fondo{
        width: 222px;
        position: absolute;
        height: 100%;
        background-color: red;
        right: 0;
        top: 0;
        border-radius: 0px 8px 8px 0px;
    }
}