.error-container{
    background-color: #D93E30;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    img{
        width: 80%;
        z-index: 9;
    }
    .banner404{
        position: absolute;
        z-index: 0;
        margin-top: 50px;
        width: 100%;
    }
    p{
        font-family: 'Karla';
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        z-index: 9;
    }
    .p2{
        color:#F2F2F2;
    }
    .button{
        background: #F2CB07;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
        font-family: 'Karla';
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        padding: 10px 40px;
        color: #212121;
        margin-top: 45px;
    }
}