.pokedex-container{
    .filtrosM{
        display: flex;
        align-items: center;
        max-width: 500px;
        margin: auto;
        p{
            font-family: $fontSourceSansPro;
            font-weight: 400;
            font-size: 22px;
            line-height: 15px;
            margin-top: 28px;
            margin-left: 20px;
        }
        .filtros-logo{
            margin-top: 28px;
            margin-left: 5px;
        }
    }
    .filtrosT{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 700px;
        margin: auto;
        margin-top: 12px;
    }
    .filtros-menu{
        position: fixed;
        top:0;
        left: 0;
        z-index: 999;
        width: 100vw;
        transition: 1.5s;
        background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
        box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
        border-radius: 0px 0px 16px 16px;
        padding: 0px 14px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.close{
            height: 0px;
        }
        &.open{
            height: 636px;
        }
        .subDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            .hamburger{
                position: absolute;
                top: -20px;
                right: 20px;
                width: 0px;
                height: 0px;
                transition: 1s;
                &.active{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    transition: 0s;
                    width: 31px;
                    height: 31px;
                }
            }
            h3{
                margin-top: 20px;
                font-family: $fontRubik;
                font-weight: 400;
                font-size: 23px;
                line-height: 27px;
                padding-left: 10px;
            }
            .types, .generations{
                width: 100%;
                height: 215px;
                margin-top: 18px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                border-bottom: 1px solid #323232;
                padding-left: 15px;
                div{
                    display: flex;
                    p{
                        margin-bottom: 10px;
                        font-family: $fontSourceSansPro;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    img{
                        margin-bottom: 10px;
                        margin-right: 4px;
                    }
                }
            }
            .generations{
                height: 155px;
            }
            .button{
                background: #73D677;
                box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
                border-radius: 11px;
                width: fit-content;
                padding: 12px 75px 16px 75px;
                font-weight: 700;
                font-size: 23px;
                line-height: 27px;
                margin: auto;
                margin-top: 12px;
            }
            .button2{
                text-decoration: underline;
                margin: auto;
                letter-spacing: 1px;
                margin-top: 10px;
            }
        }
    }
}