.home-container{
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;
    min-height: 100vh;
    text-align: center;
    font-family: $fontKarla;
    img{
        width: 100%;
        max-width: 420px;
    }
    h2{
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 4px;
        margin: 0px 18px;
        max-width: 600px;
        span{
            font-weight: 700;
        }
    }
    h3{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin: 0px 18px;
        margin-top: 6px;
        max-width: 540px;
    }
    p{
        background: #73D677;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
        width: fit-content;
        padding: 12px 75px 16px 75px;
        font-weight: 700;
        font-size: 23px;
        line-height: 27px;
        margin: auto;
        margin-top: 53px;
        margin-bottom: 25px;
    }


    &.tablet{
        img{
            max-width: 750px;
        }
        h2{
            font-size: 72px;
            line-height: 84px;
            max-width: 710px;
        }
        h3{
            max-width: 600px;
        }
        p{
            padding: 20px 35px;
            margin-top: 50px;
            margin-bottom: 100px;
            font-size: 25px;
        }
    }
}