.home-container{
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 102px;
    min-height: 100vh;
    text-align: center;
    font-family: 'Karla';
    h2{
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 4px;
        span{
            font-weight: 700;
        }
    }
    h3{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-top: 6px;
    }
    p{
        background: #73D677;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
        width: fit-content;
        padding: 12px 75px 16px 75px;
        font-weight: 700;
        font-size: 23px;
        line-height: 27px;
        margin: auto;
        margin-top: 53px;
        margin-bottom: 25px;
    }
}