.cardPokeView-container{
    .firstInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        padding: 0px 30px;
        .box1{
            background: black;
            color: white;
            border-radius: 100%;
            padding: 6px 10px;
        }
        .box2{
            display: flex;
            div{
                display: flex;
                align-items: center;
                margin: 0px 8px;
                padding: 3px 10px;
                box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
                border-radius: 11px;
                font-family: 'Roboto';
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 14px;
                color: #212121;
            }
        }
    }
    .secondInfo{
        background: #FDFDFD;
        box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        border-radius: 8px;
        width: 95%;
        max-width: 352px;
        padding: 20px;
        margin-top: 15px;
        p{
            font-family: 'Karla';
            font-weight: 400;
            font-size: 31px;
            line-height: 36px;
            color: #000000;
        }
        div{
            display: flex;
            p{
                font-family: 'Source Sans Pro';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
        }
    }
    .thirdInfo{
        background: #FDFDFD;
        box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        border-radius: 8px;
        width: 95%;
        max-width: 352px;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 12px;
        div{
            margin-bottom: 21px;
            .title{
                font-family: 'Karla';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-bottom: 4px;
            }
            div{
                p{
                    font-family: 'Karla';
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .fourthInfo{
        display: flex;
        margin-bottom: 60px;
        justify-content: space-evenly;
        width: 100%;
        max-width: 380px;
        div{
            background: #FDFDFD;
            box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
            border-radius: 8px;
            padding: 8px 15px;
            text-align: center;
            .circle{
                border-radius: 100%;
                border: 2px solid black;
                font-family: 'Karla';
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                padding: 4px 8px;
                width: fit-content;

                color: #212121;
                margin: auto;
            }
            .stat{
                margin-top: 2px;
                font-family: 'Karla';
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4B4B4B;
            }
        }
    }
}