.cardPokeView-container{
    .firstInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        padding: 0px 30px;
        .box1{
            background: black;
            color: white;
            border-radius: 100%;
            padding: 6px 10px;
        }
        .box2{
            display: flex;
            div{
                display: flex;
                align-items: center;
                margin: 0px 8px;
                padding: 3px 10px;
                box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
                border-radius: 11px;
                font-family: $fontRoboto;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 14px;
                color: $black-color;
            }
        }
    }
    .secondInfo{
        background: #FDFDFD;
        box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        border-radius: 8px;
        width: 95%;
        max-width: 350px;
        padding: 20px;
        margin-top: 15px;
        p{
            font-family: $fontKarla;
            font-weight: 400;
            font-size: 31px;
            line-height: 36px;
            color: #000000;
        }
        div{
            display: flex;
            p{
                font-family: $fontSourceSansPro;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
        }
    }
    .thirdInfo{
        background: #FDFDFD;
        box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
        border-radius: 8px;
        width: 95%;
        max-width: 350px;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 12px;
        div{
            margin-bottom: 21px;
            .title{
                font-family: $fontKarla;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-bottom: 4px;
            }
            div{
                p{
                    font-family: $fontKarla;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .fourthInfo{
        display: flex;
        margin-bottom: 60px;
        justify-content: space-evenly;
        width: 100%;
        max-width: 380px;
        div{
            background: #FDFDFD;
            box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
            border-radius: 8px;
            padding: 8px 15px;
            text-align: center;
            .circle{
                border-radius: 100%;
                border: 2px solid black;
                font-family: $fontKarla;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                padding: 4px 8px;
                width: fit-content;

                color: $black-color;
                margin: auto;
            }
            .stat{
                margin-top: 2px;
                font-family: $fontKarla;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4B4B4B;
            }
        }
    }



    &.tablet{
        .firstInfo{
            max-width: 600px;
            .box1{
                padding: 6px 12px;
                p{
                    font-size: 22px;
                }
            }
            .box2{
                div{
                    padding: 8px 16px;
                    font-size: 22px;
                }
            }
        }
        .secondInfo{
            max-width: 550px;
        }
        .thirdInfo{
            max-width: 550px;
        }
        .fourthInfo{
            max-width: 580px;
        }
    }

    &.desktop{
        .firstInfo{
            max-width: 800px;
            margin-top: 10px;
            .box1{
                padding: 6px 15px;
                p{
                    font-size: 28px;
                }
            }
            .box2{
                div{
                    padding: 15px 20px;
                    font-size: 32px;
                }
            }
        }
        .secondInfo{
            max-width: 750px;
            margin-top: 25px;
            p{
                font-size: 36px;
                font-weight: 700;
            }
            div{
                p{
                    font-size: 30px;
                    font-weight: 400;
                    margin-top: 10px;
                    margin-left: 5px;
                }
            }
        }
        .thirdInfo{
            max-width: 750px;
            div{
                .title{
                    font-size: 36px;
                }
                div{
                    margin-bottom: 30px;
                    p{
                        font-size: 30px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .fourthInfo{
            max-width: 780px;
            margin-top: 15px;
            div{
                .circle{
                    font-size: 32px;
                    padding: 14px 15px;
                }
                .stat{
                    font-size: 28px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}