.navbar-container{
    background: $third-color;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 26px;
    position: fixed;
    top: 0;
    z-index: 99;
    img{
        width: 59px;
        height: 22px;
    }
    .menu{
        position: fixed;
        top:0;
        left: 0;
        z-index: 2;
        width: 100vw;
        transition: 1s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
        box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
        border-radius: 0px 0px 16px 16px;
        &.close{
            height: 0px;
        }
        &.open{
            height: 260px;
        }
        img{
            width: 138px;
            height: 51px;
            margin-top: 37px;
        }
        div{
            width: 100%;
            margin-top: 28px;
            p{
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 27px;
                line-height: 32px;
                color: #000000;
                text-shadow: 4px 4px 20px rgba(1, 28, 64, 0.2);
                margin: 8px 0px;
                text-align: center;
            }
        }
    }

    &.tablet{
        img{
            width: 121px;
            height: 45px;
        }
        div{
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-around;
            align-items: center;
            p{
                font-family: 'Karla';
                font-weight: 400;
                font-size: 19px;
                line-height: 22px;
                color: $black-color;
                margin: 10px 0px;
                padding: 0px 8px 20px 8px;
            }
        }
    }
}