.paginador{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    p{
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-size: 22px;
        line-height: 15px;
        background: #73D677;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
    }


    &.tablet{
        p{
            cursor: pointer;
        }
    }
}