.pokedex-container{
    .banner{
        font-family: 'Karla';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 3px;
        margin: 18px;
        margin-top: 85px;
        margin-bottom: 0px;
        span{
            font-weight: 700;
        }
    }
    .filtros{
        display: flex;
        align-items: center;
        p{
            font-family: 'Source Sans Pro';
            font-weight: 400;
            font-size: 22px;
            line-height: 15px;
            margin-top: 28px;
            margin-left: 20px;
        }
        .filtros-logo{
            margin-top: 28px;
            margin-left: 5px;
        }
    }
    .filtros-menu{
        position: fixed;
        top:0;
        left: 0;
        z-index: 999;
        width: 100vw;
        transition: 1.5s;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
        box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
        border-radius: 0px 0px 16px 16px;
        padding: 0px 14px;
        &.close{
            height: 0px;
        }
        &.open{
            height: 636px;
        }
        .hamburger{
            position: absolute;
            top: -20px;
            right: 20px;
            width: 0px;
            height: 0px;
            transition: 1s;
            &.active{
                position: absolute;
                top: 20px;
                right: 20px;
                transition: 0s;
                width: 31px;
                height: 31px;
            }
        }
        h3{
            margin-top: 34px;
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 23px;
            line-height: 27px;
            padding-left: 10px;
        }
        .types, .generations{
            width: 100%;
            height: 215px;
            margin-top: 18px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            border-bottom: 1px solid #323232;
            padding-left: 15px;
            div{
                display: flex;
                p{
                    margin-bottom: 10px;
                    font-family: 'Source Sans Pro';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }
                img{
                    margin-bottom: 10px;
                    margin-right: 4px;
                }
            }
        }
        .generations{
            height: 155px;
        }
        .button{
            background: #73D677;
            box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
            border-radius: 11px;
            width: fit-content;
            padding: 12px 75px 16px 75px;
            font-weight: 700;
            font-size: 23px;
            line-height: 27px;
            margin: auto;
            margin-top: 12px;
        }
        .button2{
            text-decoration: underline;
            margin: auto;
            letter-spacing: 1px;
        }
    }
    .loader{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 50vw;
            height: 50vw;
            max-width: 180px;
            max-height: 180px;
            margin-top: 50px;
        }
    }
}