.pokedex-container{
    .banner{
        font-family: 'Karla';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 3px;
        margin: 18px;
        margin-top: 85px;
        margin-bottom: 0px;
        span{
            font-weight: 700;
        }
    }
    .buscador{
        padding: 0px 20px;
        margin-top: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            all: unset;
            width: 100%;
            font-family: 'Source Sans Pro';
            font-weight: 400;
            font-size: 18px;
            line-height: 15px;
            color: rgba(33, 33, 33, 0.8);
            border: 1px solid rgb(192, 192, 192);
            padding: 5px 40px 5px 10px;
            border-radius: 15px;
        }
        .buscador-logo{
            position: absolute;
            right: 30px;
            font-size: 28px;
        }
    }
    .filtros{
        display: flex;
        align-items: center;
        p{
            font-family: 'Source Sans Pro';
            font-weight: 400;
            font-size: 22px;
            line-height: 15px;
            margin-top: 28px;
            margin-left: 20px;
        }
        .filtros-logo{
            margin-top: 28px;
            margin-left: 5px;
        }
    }
    .filtros-menu{
        position: fixed;
        top:0;
        left: 0;
        z-index: 2;
        width: 100vw;
        transition: 1.5s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
        box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
        border-radius: 0px 0px 16px 16px;
        &.close{
            height: 0px;
        }
        &.open{
            height: 636px;
        }
        .hamburger{
            position: absolute;
            top: -20px;
            right: 20px;
            width: 0px;
            height: 0px;
            transition: 1s;
        }
        .hamburger.active{
            position: absolute;
            top: 20px;
            right: 20px;
            transition: 0s;
            width: 31px;
            height: 31px;
        }
    }
}