@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import "./variables.scss";
@import "./generalStyles.scss";

$hamburger-color:#FFF0D9;
$hamburger-size:31px;
$hamburger-thickness:4px;
$hamburger-border-radius:2px;

@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/stack";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}


h1{
    font-size: 72px;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 12px;
}
p{
    font-size: 16px;
}

@import "./components/home.scss";
@import "./components/navbar.scss";