$primary-color:#F2B807;
$secondary-color:#F28F16;
$third-color:#F5DB13;
$danger-color:#D93E30;
$white-color:#F6F7F9;
$black-color:#212121;

$fontSourceSansPro:'Source Sans Pro';
$fontKarla:'Karla';
$fontRoboto:'Roboto';
$fontRubik:'Rubik';